@charset "UTF-8";

body {
	background-color: #B4CDE6;
}

h1{
	margin-bottom: 0px
}


input{
	border-radius: 6px;
	border:thin;
	background-color: #F5EFE6;
	width: 200px;
}

button{
	background-color: #628E90;
	border-radius: 6px;
	margin-left: 306px;
}

.inputBox{
	margin: 20px;
}

.messageBox{
	height: 60px;
	width: 400px;
	border-radius: 6px;
	border:thin;
	margin-bottom: 5px;
	background-color: #F5EFE6;
}

.post{
	background-color: #F5EFE6;
	border-radius: 6px;
	width: 600px;
	margin: 20px;
}

.header{
	margin-bottom: 10px;
}

.name{
	display: inline-block;
	width: 450px;
	font-weight: bold;
}

.timestamp{
	display: inline-block;
}